# ┌─────────────────────────────────────────┐
# │ GNU Privacy Guard .gitignore protection │
# └─────────────────────────────────────────┘
# 📂 ~/.gnupg/.gitignore
# ⚒ John Lettman <the@johnlettman.com>

# 💬 Prevent mistaken inclusion of sensitive and private files
*               # ignore everything,
!.gitignore     # except this file,
!gpg.conf       # and the configuration
!gpg-agent.conf 
